.banner-doyoga {
  background: url(../images/banner-doyaga-bg.jfif) no-repeat;
  height: 582px;
  background-position: bottom center;
  background-size: 100vw auto;
}

.banner-doyoga .banner-doyoga-main {
  top: 185px;
  left: 180px;
}

.banner-doyoga .banner-doyoga-main .banner-doyoga-word {
  width: 445px;
}

.banner-doyoga .banner-doyoga-main .banner-doyoga-btn .banner-doyoga-btn-order:hover {
  background-color: #C0A4A5 !important;
  color: #fff;
}

.banner-doyoga .banner-doyoga-main .banner-doyoga-btn .banner-doyoga-btn-order:hover a:hover {
  color: #fff;
}

.banner-doyoga .banner-doyoga-main .banner-doyoga-btn .banner-doyoga-btn-introduction:hover {
  background-color: #907A7B !important;
}

.banner-doyoga .banner-doyoga-main .banner-doyoga-btn .banner-doyoga-btn-introduction:hover a {
  color: #fff;
}

@media (max-width: 768px) {
  .banner-doyoga {
    background-size: 100vw 100%;
  }
  .banner-doyoga .banner-doyoga-main {
    left: 39px;
  }
}

@media (max-width: 376px) {
  .banner-doyoga {
    background: url(../images/banner-doyaga-bg.jfif) no-repeat;
    height: 560px;
    background-position: bottom center;
  }
  .banner-doyoga .banner-doyoga-main {
    top: 175px;
    left: 15px;
  }
  .banner-doyoga .banner-doyoga-main .banner-doyoga-word {
    width: 345px;
  }
  .banner-doyoga .banner-doyoga-main .banner-doyoga-word h2 {
    font-size: 28px !important;
    margin-bottom: 2px;
  }
  .banner-doyoga .banner-doyoga-main .banner-doyoga-word p:nth-child(1) {
    margin-bottom: 10px;
  }
  .banner-doyoga .banner-doyoga-main .banner-doyoga-word p:nth-child(3) {
    font-size: 20px !important;
    line-height: 1.8 !important;
    margin-bottom: 16px;
  }
}

.liveInMoment .container {
  max-width: 1170px;
}

.liveInMoment .container .liveInMoment-fitness {
  border-radius: 16px;
  max-width: 360px;
  height: 420px;
  background: url(../images/liveInMoment_fitness.jfif) no-repeat;
  background-position: center center;
}

.liveInMoment .container .liveInMoment-relax {
  border-radius: 16px;
  max-width: 360px;
  height: 420px;
  background: url(../images/liveInMoment_relax.jfif) no-repeat;
  background-position: center center;
}

.liveInMoment .container .liveInMoment-sculpture {
  border-radius: 16px;
  max-width: 360px;
  height: 420px;
  background: url(../images/liveInMoment_sculpture.jfif) no-repeat;
  background-position: center center;
}

@media (max-width: 768px) {
  .liveInMoment {
    width: 750px;
    margin-left: 10px;
  }
  .liveInMoment .container .liveInMoment-fitness {
    max-width: 210px;
    height: 252px;
  }
  .liveInMoment .container .liveInMoment-fitness h5 {
    font-size: 16px;
  }
  .liveInMoment .container .liveInMoment-relax {
    max-width: 210px;
    height: 252px;
  }
  .liveInMoment .container .liveInMoment-relax h5 {
    font-size: 16px;
  }
  .liveInMoment .container .liveInMoment-sculpture {
    max-width: 210px;
    height: 252px;
  }
  .liveInMoment .container .liveInMoment-sculpture h5 {
    font-size: 16px;
  }
}

.teacher .container {
  max-width: 1160px;
}

.teacher .container .teacher-img img {
  width: 540px;
  height: 628px;
  border-radius: 16px;
}

.teacher .container .teacher-content .teacher-content-card {
  height: 450px;
}

.teacher .container .teacher-content .teacher-content-card .card {
  width: 540px;
  border-radius: 16px;
}

.teacher .container .teacher-content .teacher-content-card .card:nth-child(1) {
  width: 635px;
  margin-left: -95px;
}

@media (max-width: 768px) {
  .teacher .container .teacher-content .teacher-content-section {
    width: 450px;
  }
  .teacher .container .teacher-content .teacher-content-card {
    position: relative;
    left: 80px;
  }
}

@media (max-width: 376px) {
  .teacher .container .teacher-content .teacher-content-section {
    width: 345px;
  }
  .teacher .container .teacher-content .teacher-content-card {
    height: 345px;
    left: 0px;
  }
  .teacher .container .teacher-content .teacher-content-card .card {
    width: 345px;
  }
  .teacher .container .teacher-content .teacher-content-card .card img {
    width: 48px;
    height: 48px;
  }
  .teacher .container .teacher-content .teacher-content-card .card:nth-child(1) {
    width: 345px;
    margin-left: 0px;
  }
}

.comfortable-room {
  max-width: 1150px;
}

.comfortable-room .comfortable-room-pic img {
  border-radius: 16px;
  width: 350px;
  height: 444px;
}

.comfortable-room .comfortable-room-sm-pic img {
  border-radius: 16px;
  width: 160px;
  height: 207px;
}

@media (max-width: 768px) {
  .comfortable-room .comfortable-room-pic img {
    width: 210px;
    height: 266px;
  }
  .comfortable-room .comfortable-room-sm-pic img {
    width: 90px;
    height: 117px;
  }
}

@media (max-width: 376px) {
  .comfortable-room .introduction-sm img {
    width: 165px;
    height: 210px;
    border-radius: 16px;
  }
  .comfortable-room .introduction-sm img:nth-child(1) {
    margin-right: 15px;
  }
}

.introduction {
  color: #907A7B;
}

.introduction h3 {
  font-size: 28px;
  margin-bottom: 4px;
}

.introduction p {
  color: #C0A4A5;
  margin-bottom: 24px;
  width: 445px;
}

.introduction a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction a span {
  margin-left: 11px;
}

@media (max-width: 768px) {
  .introduction p {
    width: 330px;
  }
}

.course .course-introduction-content {
  width: 445px;
}

.course .swiper-wrapper {
  width: 445px;
  height: 445px;
}

.course .swiper-wrapper img {
  border-radius: 16px;
}

@media (max-width: 768px) {
  .course .course-introduction-content {
    width: 330px;
  }
  .course .course-rwd-img {
    height: 324px;
  }
  .course .course-rwd-img img {
    width: 150px;
    height: 150px;
    border-radius: 16px;
  }
}

.plan .container {
  max-width: 1140px;
}

.plan .container .plan-choose .card {
  width: 350px !important;
  height: 497px;
  border-radius: 16px;
  border: 2px solid #C0A4A5;
}

.plan .container .plan-choose .card img {
  border-radius: 16px 16px 0 0;
  height: 230px;
}

@media (max-width: 768px) {
  .plan .plan-md-layout .card {
    border: 2px solid #C0A4A5;
    border-radius: 16px;
    height: 235px;
  }
  .plan .plan-md-layout .card img {
    width: 345px;
    height: 231px;
    border-radius: 16px 0 0 16px;
  }
  .plan .plan-md-layout .card .card-body-introduction {
    width: 297px;
  }
  .plan .plan-md-layout .card .card-body-btn {
    display: block;
    width: 297px;
    border-radius: 5px;
  }
}

.experience .container {
  width: 1130px;
}

.experience .container .card {
  border-radius: 16px !important;
}

/*# sourceMappingURL=index.css.map */
