.banner-doyoga{
  background: url(../images/banner-doyaga-bg.jfif) no-repeat;
  height: 582px;
  background-position: bottom center;
  background-size: 100vw auto;
  .banner-doyoga-main{
    top: 185px;
    left: 180px;
    .banner-doyoga-word{
      width: 445px;
    }
    .banner-doyoga-btn{
      .banner-doyoga-btn-order:hover{
        background-color: #C0A4A5 !important;
        color: #fff;
        a:hover{
          color: #fff;
        }
      }
      .banner-doyoga-btn-introduction:hover{
          background-color: #907A7B !important;
          a{
            color: #fff;
          }
      }
    }
  }
}

@media (max-width: 768px){
  .banner-doyoga{
    background-size: 100vw 100%;
    .banner-doyoga-main{
      left: 39px;
    }
  }
}

@media (max-width: 376px){
  .banner-doyoga{
    background: url(../images/banner-doyaga-bg.jfif) no-repeat;
    height: 560px;
    background-position: bottom center;
    .banner-doyoga-main{
      top: 175px;
      left: 15px;
      .banner-doyoga-word{
        width: 345px;
        h2{
          font-size: 28px !important;
          margin-bottom: 2px;
        }
        p:nth-child(1){
          margin-bottom: 10px;
        }
        p:nth-child(3){
          font-size: 20px !important;
          line-height: 1.8 !important;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.liveInMoment{
  .container{
    max-width: 1170px;
    .liveInMoment-fitness{
      border-radius: 16px;
      max-width: 360px;
      height: 420px;
      background: url(../images/liveInMoment_fitness.jfif) no-repeat;
      background-position: center center;
    }
    .liveInMoment-relax{
      border-radius: 16px;
      max-width: 360px;
      height: 420px;
      background: url(../images/liveInMoment_relax.jfif) no-repeat;
      background-position: center center;
    }
    .liveInMoment-sculpture{
      border-radius: 16px;
      max-width: 360px;
      height: 420px;
      background: url(../images/liveInMoment_sculpture.jfif) no-repeat;
      background-position: center center;
    }
  }
}

@media (max-width: 768px){
  .liveInMoment{
    width: 750px;
    margin-left: 10px;
    .container{      
      .liveInMoment-fitness{
        h5{
          font-size: 16px;
        }
        max-width: 210px;
        height: 252px;
      }
      .liveInMoment-relax{
        h5{
          font-size: 16px;
        }
        max-width: 210px;
        height: 252px;
      }
      .liveInMoment-sculpture{
        h5{
          font-size: 16px;
        }
        max-width: 210px;
        height: 252px;
      }
    }
  }
}

.teacher{
  .container{
    max-width: 1160px;
    .teacher-img{
      img{
        width: 540px;
        height: 628px;
        border-radius: 16px;
      }
    }
    .teacher-content{
      .teacher-content-card{
        height: 450px;
        .card{
          border-radius: 16px;
        }
        .card:nth-child(1){
          margin-left: -95px;
        }
      }
    }
  }
}

.comfortable-room{
  width: 100vw;
  .comfortable-room-pic{
    img{
      border-radius: 16px;
      width: 350px;
      height: 444px;
    }
  }
  .comfortable-room-sm-pic{
    img{
      border-radius: 16px;
      width: 160px;
      height: 207px;
    }
  }
}

.introduction{
  color: #907A7B;
  width: 445px;
  h3{
    font-size: 28px;
    margin-bottom: 4px;
  }
  p{
    color: #C0A4A5;
    margin-bottom: 24px;
  }
  a{
    display: flex;
    align-items: center;
    span{
      margin-left: 11px;
    }
  }
}

.course{
  .course-introduction-content{
    width: 445px;
  }
  .swiper-wrapper{
    width: 445px;
    height: 445px;
    img{
      border-radius: 16px;
    }
  }
}

.plan{
  .container{
    max-width: 1140px;
    .plan-choose{
      .card{
        width: 350px !important;
        height: 497px;
        border-radius: 16px;
        border: 2px solid #C0A4A5;
        img{
          border-radius: 16px 16px 0 0;
          height: 230px;
        }
      }
    }
  }
}

.experience{
  .container{
    width: 1130px;
    .card{
      // 暫時
      border-radius: 16px !important;
    }
  }
}