.plan{
    .radius-list{
        max-width: 540px;
        margin: auto;
        li{
            background-color: #F5F0E7;
        }
    }
    .order-complete-circle{
        font-size: 40px;
    }
    .order-information{
        max-width: 540px;
        text-align: left;
    }
}

@media (max-width:768px){
    .plan{
        .radius-list{
            max-width: 330px;
        }
        .order-information{
            max-width: 450px;            
        }
    }
}

@media (max-width:376px){
    .plan{
        .radius-list{
            max-width: 345px;
        }
        .order-information{
            max-width: 345px;            
        }
    }
}

.order-notice{
    nav{
        max-width: 445px;
    }
    p{
        max-width: 350px;
    }
    button{
        width: 350px;
        position: relative;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media (max-width:376px){
    .order-notice{
        nav,p{
            max-width: 345px;
        }
    }
}